@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

:root {
    
    --bg: #ffffff;
    --fg: #e24e42;
    --text: #23374dde;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--bg);
    opacity: 1; /* Firefox */
  }
*{
    font-family: 'DM Sans', sans-serif;
    color: var(--text);
}
.black{
    color:black;
}
button{
    color: black;
    background-color: var(--fg);
    font-family: 'DM Mono',monospace;
}
body{
    background-color: var(--bg);
}
.header{
    
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.header .left-half{
display: flex;



}

.header .left-half>div{
    margin: auto;
    
    }
    .header .left-half #myprofile{
        padding-right: 20px;

    }
    .header .left-half #myprofile img{
        color: var(--fg);
    }
    .header #logo{
        font-size: 30px;
        font-family: 'Quicksand';
    }
.header .right-half{
width: 65%;
}
mono{
    font-family: 'DM Mono';
    font-size: smaller;
}
input,#new-qait-button{
    font-family:'DM Mono',monospace;
        color: white;
    border: none;
    border-radius: 6px;
}
#searchbar{
    padding: 10px;
    width: 85%;
    margin-left: 5%;
    background: var(--fg);
    border: none;
    font-family: 'DM Mono';
    box-sizing: border-box;
    border-radius: 13px 0px 0px 13px;
}
.content{
    display: flex;
   margin: auto;
    width: 80%;
}
.content .left-half{
    width: 30%;
}
.content .right-half{
    width: 65%;
    margin: auto;
    margin-left: 5%;

}
.content>div{
    width: 100%;
}
#feed{
    overflow-y: scroll;
    max-height: 80vh;
    margin-top: 10px;
}
#people{
    padding-right: 10px;
    overflow-y: scroll;
    max-height: 60vh;
}
#new-qait {
    color: white;
    background: none;
    width: 80%;
    height: 2em;
    border: none;
    border-bottom: 1px var(--text) dashed;
    /* -webkit-tap-highlight-color: rgba(0, 0, 0, 0); */
}
#new-qait:focus{
    border-bottom: 2px white dashed;
}
button{
    cursor: pointer;
}
input:focus,textarea:focus{
    outline: none;
}
.search-bar-container{
    display: flex;
}
.search-bar-container img{
    border: none;
    width: 18px;
    background: var(--fg);
    border-radius: 0px 13px 13px 0px;
    padding: 5px;
}
.search-bar-container img:hover{
    cursor: pointer;
}
.trend-list{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-start: 1;
    grid-column-end: 2;
}
sup{
    font-family: 'DM Mono';
}
.profile-card-user{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile-card-username{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.profile-card-username>img{
    padding-right: 5px;
}
.bio{
    overflow-wrap: break-word;
}
.qaits{
    padding: 1%;
    background-color: var(--fg);
    color:var(--bg);
    width: 85%;
    border-radius: 0.2cm;
    margin: auto;
}
.qaits *{
    color:var(--bg);
}
.fa {
    font-size: 50px;
    cursor: pointer;
    user-select: none;
}

.fa:hover {
    color: #aea4e9;
}

.like{
    font-size: 50px;
    color:#aea4e9;
}

.like-count{
    margin-right: 10px;
  
}


/* Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
  }
  
  /* Modal Content */
  .modal-content {
    position: fixed;
    bottom: 0;
    background-color: var(--bg);
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: var(--bg);
    color: var(--text);
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: var(--bg);
    color: var(--text);
    margin: auto;
    text-align: center;
  }
  
  /* Add Animation */
  @-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
  }
  
  @keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
/* width */
::-webkit-scrollbar {
    width:5px;
  }
  
  /* Track
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
    */
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
      cursor: pointer;
    background: gray; 
  }
  .qait-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .qait-header>div:nth-child(2){
      font-family: 'DM Mono';
      font-size: small;
  }
  #reply-qait{
    width: 50%;
    height: 1.8em;
    border-radius: 3px;
    background-color: var(--fg);
    color: white;
    margin: auto;
  }
  #reply-button{
    border: none;
    width: 10%;
    height: 1.8em;
    font-size: smaller;
    color: white;

  }