{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'main/feed.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        
    </style>
    <title>Feed</title>
</head>
<body>

    <div class="header">
        <div class="left-half">
            <div id="myprofile">
                <img src="{% static 'main/fingerprint.svg' %}" width="20px" alt="" srcset="">
            </div>
            <div id="logo">
                QAIT
            </div>
            
        </div>
        <div class="right-half search-bar-container">
            <input placeholder="Search" class="black" id="searchbar">
            <img src="{% static 'main/search.svg' %}" width="20px" alt="" srcset="">

        </div>
        
        
    </div>
    <div class="content">
        <div class="left-half">
            <div id="compose">
                <h2>
                    Compose
                </h2>
                <form action="/create_qait" method="POST">
                    {% csrf_token %}
                    <input type="text" name="content" maxlength="140" id="new-qait">
                    <button type="submit" id="new-qait-button" class="black">QAIT</button>
                </form>
               
            </div>
            <div id="trends">
                <h2>
                    Trends
                </h2>
                <div class="trend-list">
                    {% for trend in trends %}
                    <div class="trend">
                        <p>{{trend.title}}
                        <sup>
                            {{trend.count}}
                        </sup>
                    </p>
                </div>
                    {% endfor %}
                    
                </div>
            </div>
            <div id="people">
                <h2>
                    Interesting People
                </h2>
                <div class="profile-card">
                    <div class="profile-card-user">
                       
                        <div class="profile-card-username">
                            <img src="{% static 'main/dp.svg' %}" width="40px" alt="" srcset="">
                            <div>
                                Username <br>
                                username
                            </div>
                            
                        </div>
                        <div class="follow-button">
                            <img src="{% static 'main/add.svg' %}" width="20px" alt="" srcset="">
                        </div>
                        
                    </div>
                    <div class="bio">
                        biooooooooooooooooooooooooooooo,biooooooooooooooooooooooooooooo
                    </div>
                </div>
            </div>
        </div>
        <div class="right-half">
            <div id="feed">
                <h2>
                    Feed
                </h2>
                <div>
                    {% for qait in qaits %}
                    <div class = "qaits-list">
                        <div class = "qaits">

                            <div style="text-align: left; font-size: medium; ">
                                @{{qait.by.user.username}} <p style="font-weight: 100; font-size: small; color: rgb(209, 219, 219);">{{ qait.date }} &middot; {{qait.time}}</p>
                                </p>
                                
                            </div>
                            <p style="margin-bottom: 1%;">
                                {{qait.content}}
                            </p>

                            <div style = "text-align: right; padding: 1%;">
                            
                                        <i data-qait-id="{{qait.id}}" class="like-button fa fas fa-heart" style="font-size: medium;"></i>
                                  <span class="like-count"> {{qait.get_like_no}}</span>
                            </div>
                        </div>
                        <br>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="logout">
            <a href="/logout">logout.</a>
        </div>
        
    </div>
 
<script src="{% static 'main/script/jquery-3.6.0.min.js' %}"></script>
    <script>
        
        $('.like-button').click(function () {
            token = "{{ csrf_token }}"
        liked=$(this)
        $(this).toggleClass("like-button")
        
            $.ajax({
                url:'/like_dislike',
                type:'POST',
                data:{
                    postId:$(this).attr('data-qait-id'),
                    likedBy:"{{request.user.username}}",
                    csrfmiddlewaretoken:token ,
                },
                
            }).done(function(data){
                liked.next('.like-count').html(data);
            })
        })
    
    </script>

</body>
</html>