{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div>
        <form method="POST" action="/login">
            {% csrf_token %}
        <div>
            Login
        </div>
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>
        <button type="submit">
            <img src="{% static 'main/fingerprint.svg' %}" width="20px" alt="" srcset="">

        </button>
    </form>
    </div>
    <h3>
      <a href="/register">Create a new QAIT account</a>
    </h3>
</body>
</html>