
{% extends "main/header.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'main/register.css' %}">
{% endblock %}
{% block content %} 

<div class="icon">
	<h1>QAIT.</h1>
</div>


<div class="row">

	<div class="column introduction" style="float:left">
	<img id="bro" src="{% static 'main/bro.svg' %}">
	
	</div>
	
	<!--Register--> 
	<div class="column register" style="float:left">
		<h3>Login to your QAIT Account securely.</h3>
		<form method="POST">
			{% csrf_token %}
			<div class="input-group">
				<label for="username">Username</label>
				<input type="text" name="username" id="username">
			</div>
			<div style="clear:both;">&nbsp;</div>
			<div class="input-group">
				<label for="password">Password</label>
				<input type="password" name="password" id="password">
			</div>
			
			<button type="submit">Login</button>
	
		</form>
		<p class="text-center">Create a new QAIT account, <a href="/register">now</a>.</p>
	</div>
</div>


{% endblock %}
