
{% extends "main/header.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'main/register.css' %}">
{% endblock %}
{% block content %} 

   
<div class="loginIntro" style="float:left">
	<h1>Welcome to the QAIT - Quantum Artificial Intelligence aided Tweeter.</h1>
	<h1>Please Login to your account.</h1>
</div>

<!--Register--> 
<div class="loginContainer" style="float:left">
	<h1>Login</h1>
	<form method="POST">
		{% csrf_token %}
		<div class="input-group">
			<label for="username">Username</label>
            <input type="text" name="username" id="username">
		</div>
		<div style="clear:both;">&nbsp;</div>
		<div class="input-group">
			<label for="password">Password</label>
            <input type="password" name="password" id="password">
		</div>
					
		
			
			
			             
		<button type="submit">Login</button>
			

		</form>
    

	<p class="text-center">Create a new QAIT account, <a href="/register">now</a>.</p>
</div>
<div class="icon">
	<h1>QAIT</h1>
</div>

{% endblock %}
