{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'main/feed.css' %}">
    <style>
        
    </style>
    <title>Feed</title>
</head>
<body>

    <div class="header">
        <div class="left-half">
            <div id="myprofile">
                <img src="{% static 'main/fingerprint.svg' %}" width="20px" alt="" srcset="">
            </div>
            <div id="logo">
                QAIT
            </div>
            
        </div>
        <div class="right-half search-bar-container">
            <input placeholder="Search" class="black" id="searchbar">
            <img src="{% static 'main/search.svg' %}" width="20px" alt="" srcset="">

        </div>
        
        
    </div>
    <div class="content">
        <div class="left-half">
            <div class="profile-card">
                    <div class="profile-card-user">
                       
                        <div class="profile-card-username">
                            <img src="{% static 'main/dp.svg' %}" width="40px" alt="" srcset="">
                            <div>
                                Username <br>
                                username
                            </div>
                            
                        </div>
                        <div class="follow-button">
                            <img src="{% static 'main/add.svg' %}" width="20px" alt="" srcset="">
                        </div>
                        
                    </div>
                    <div class="bio">
                        biooooooooooooooooooooooooooooo,biooooooooooooooooooooooooooooo
                    </div>
                </div>
            <div id="people">
                <h2>
                    Interesting People
                </h2>
                <div class="profile-card">
                    <div class="profile-card-user">
                       
                        <div class="profile-card-username">
                            <img src="{% static 'main/dp.svg' %}" width="40px" alt="" srcset="">
                            <div>
                                Username <br>
                                username
                            </div>
                            
                        </div>
                        <div class="follow-button">
                            <img src="{% static 'main/add.svg' %}" width="20px" alt="" srcset="">
                        </div>
                        
                    </div>
                    <div class="bio">
                        biooooooooooooooooooooooooooooo,biooooooooooooooooooooooooooooo
                    </div>
                </div>
            </div>
        </div>
        <div class="right-half">
            <div id="feed">
                <h2>
                    QAITs by 
                </h2>
                
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="logout">
            <a href="/logout">logout.</a>
        </div>
        
    </div>
</body>
</html>