{% extends "main/header.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'main/register.css' %}">
{% endblock %}
{% block content %} 

<div class="icon">
	<h1>QAIT.</h1>
</div>

<div class= "row" style="padding:0px">

	<div class="column introduction" style="float:left">
		<h1>Welcome to QAIT - Quantum Artificial Intelligence aided Microblogging</h1>
		
		<img id="regchar" src="{% static 'main/regchar.svg' %}">
	</div>
	
	<!--Register--> 
	<div class="column register" style="float:left" >
		<h3>Create a QAIT account by entering the following details</h3>
		<form method="POST">
			{% csrf_token %}
			<div class="input-group" >
			<label for="first_name">First Name</label>
			<input type="text" name="first_name" id="first_name">
		</div>
		<div style="clear:both;">&nbsp;</div>
		<div class="input-group">
			<label for="last_name">Last Name</label>
			<input type="text" name="last_name" id="last_name" >
		</div>
		<div style="clear:both;">&nbsp;</div>
		<div class="input-group">
			<label for="email">Email</label>
			<input type="email" name="email" id="email">
		</div>
		<div style="clear:both;">&nbsp;</div>
		<div class="input-group">
			<label for="username">Username</label>
			<input type="text" name="username" id="username">
		</div>
		<div style="clear:both;">&nbsp;</div>
		<div class="input-group">
			<label for="password">Password</label>
			<input type="password" name="password" id="password">
		</div>
		
		<div style="clear:both;">&nbsp;</div>
		
		<button type="submit">Register</button>
			
		</form>

		<p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>
	</div>
</div>



{% endblock %}
